{
  "plugins": [
    "babel-plugin-polished",
    [
      "module-resolver",
      {
        "alias": {
          "components": "./components"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": ["babel-plugin-styled-components"]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": ["babel-plugin-styled-components"]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs"
          }
        ],
        "next/babel"
      ],
      "plugins": ["babel-plugin-dynamic-import-node"]
    }
  }
}
