{
  "presets": ["next/babel"],
  "plugins": [
    "babel-plugin-styled-components",
    "babel-plugin-polished",
    [
      "module-resolver",
      {
        "alias": {
          "components": "./components"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["babel-plugin-dynamic-import-node"]
    }
  }
}
