{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        "babel-plugin-polished",        
        ["babel-plugin-styled-components", {
          "displayName": true,
          "ssr": true
        }]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        "babel-plugin-polished",
        ["babel-plugin-styled-components", {
          "displayName": true,
          "ssr": true
        }]
      ]
    },
    "test": {
      "plugins": [
        "babel-plugin-polished"
      ],
      "presets": [
        ["next/babel", {
          "preset-env": { "modules": "commonjs" }
        }]
      ]
    }
  }
}
