{
  "reporter": "stylint-stylish",
  "processors": ["stylelint-processor-styled-components"],
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "syntax": "scss",
  "rules": {
      "declaration-empty-line-before": null,
      "selector-type-case": null,
      "selector-type-no-unknown": null,
      "block-opening-brace-space-after": null,
      "block-closing-brace-space-before": null,
  }
}
