language: node_js
dist: trusty
sudo: required
branches:
  only: master
addons:
  apt:
    packages:
      - libnss3
      - google-chrome-beta
env:
  global:
    - GOOGLE_CHROME_BINARY="/usr/bin/google-chrome-beta"
    - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD="true"
node_js:
  - 8
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start &
  - sleep 3
script:
  - node --version
  - yarn --version
  - yarn run test
  - yarn run lint
  - yarn run integration
notifications:
  email:
    on_failure: change
cache:
  yarn: true
  bundler: true
  directories:
    - node_modules
