language: node_js
dist: trusty
branches:
  only:
    - master
cache:
  yarn: true
  directories:
    - node_modules
node_js: '10'
jobs:
  include:
    - stage: test
      script:
        - node --version
        - yarn --version
        - yarn test
        - yarn lint
        - yarn build
        - yarn size
notifications:
  email:
    on_failure: change
